.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents body scrolling */
}

.app {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.app-name {
  position: absolute;
  top: 10px;
  left: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 1000; /* Ensure it is on top of the map */
}

.map-container {
  height: 100%;
  width: 100%;
}

.map-attribution {
  position: absolute;
  bottom: 1px;
  right: 240px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3px;
  border-radius: 5px;
  font-size: 0.7em;
  z-index: 1000; /* Ensure it is on top of the map */
  display: flex;
  align-items: center;
}

.organization-name {
  font-weight: bold;
}


